body {
  background-color: #95c2d7;
  font-family: Arial, sans-serif;
}

.header-component h1 {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  width: 100%;
}

.subtitle {
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
}

.post-list {
  
}

.post-component {
  
}
